/* styles.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .heading {
    font-size: 8rem;
    color: white;
  }
  
  
  @media (max-width: 768px) {
    .heading {
      font-size: 6rem; /* Adjust this value for smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .heading {
      font-size: 4rem; /* Adjust this value for even smaller screens */
    }
  }